<main class="container">
  <h1 class="display-4 mt-5">OpenAPI-Link-Generator</h1>

  <p class="lead mb-5">Add links to an OpenAPI document.</p>

  <ng-container *ngIf="result == null && error == null">
    <div class="card shadow mb-5">
      <div class="card-body">
        <h5 class="card-title"><fa-icon [icon]="faInfoCircle"></fa-icon> Info</h5>
        <p class="card-text text-justify">
          <a href="https://github.com/rwth-acis/openapi-link-generator" target="_blank">OpenAPI-Link-Generator</a>
          is a tool that enhances an existing Swagger/OpenAPI documentation by adding link definitions. To use it,
          simply input a Swagger 2.0 or OpenAPI 3.0 document in JSON or YAML format below. The tool will run the link
          generator on the document and show the result.
        </p>
        <p class="card-text">
          The source code of this webservice is available on
          <a href="https://github.com/rwth-acis/openapi-link-generator-demo" target="_blank">GitHub</a>.
        </p>
      </div>
    </div>

    <div class="card shadow mb-5">
      <div class="card-header">
        <ul ngbNav #requestTabs="ngbNav" class="nav-tabs card-header-tabs">
          <li ngbNavItem>
            <a ngbNavLink>Text</a>
            <ng-template ngbNavContent>
              <app-text-loader (dataLoaded)="dataLoaded($event)"></app-text-loader>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>File</a>
            <ng-template ngbNavContent>
              <app-file-upload (dataLoaded)="dataLoaded($event)"></app-file-upload>
            </ng-template>
          </li>
        </ul>
      </div>

      <div class="card-body">
        <div class="mb-3" [ngbNavOutlet]="requestTabs"></div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="result">
    <div class="card shadow text-white bg-success mb-5">
      <div class="card-body">
        <h5 class="card-title">Success</h5>
        <h6 class="card-subtitle">Added {{ result.numLinks }} links. The result can be found below.</h6>

        <div class="mt-3">
          <button class="btn btn-outline-light" (click)="reset()">Reset</button>
          <a
            class="btn btn-outline-light ml-3"
            title="Download result"
            [href]="result.downloadHref"
            download="result.json"
            >Download result</a
          >
        </div>
      </div>
    </div>

    <div class="card shadow mb-5">
      <div class="card-header">
        <ul ngbNav #resultTabs="ngbNav" class="nav-tabs card-header-tabs">
          <li ngbNavItem>
            <a ngbNavLink>Diff</a>
            <ng-template ngbNavContent>
              <inline-diff [oldText]="result.source" [newText]="result.output" [lineContextSize]="5"></inline-diff>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Result</a>
            <ng-template ngbNavContent>
              <pre><code [highlight]="result.output" [lineNumbers]="true"></code></pre>
            </ng-template>
          </li>
        </ul>
      </div>

      <div class="card-body">
        <div class="mb-3" [ngbNavOutlet]="resultTabs"></div>
      </div>
    </div>
  </ng-container>

  <div *ngIf="error" class="card shadow text-white bg-danger mb-5">
    <h5 class="card-header">Request failed</h5>
    <div class="card-body">
      <h5 class="card-title">An error occurred during conversion.</h5>

      <button class="btn btn-outline-light mt-3" (click)="reset()">
        Reset
      </button>
    </div>
  </div>
</main>
<ngx-spinner></ngx-spinner>
