<main>
  <div class="container">
    <h1 class="display-4 my-5">OpenAPI-Link-Generator</h1>

    <div class="card shadow mb-5" [class.text-white]="error" [class.bg-danger]="error">
      <ng-container *ngIf="output == null && error == null; else result">
        <div class="card-header">
          <ul ngbNav #tabs="ngbNav" class="nav-tabs card-header-tabs">
            <li ngbNavItem>
              <a ngbNavLink>Text</a>
              <ng-template ngbNavContent>
                <app-text-loader (dataLoaded)="dataLoaded($event)"></app-text-loader>
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>File</a>
              <ng-template ngbNavContent>
                <app-file-upload (dataLoaded)="dataLoaded($event)"></app-file-upload>
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>URL</a>
              <ng-template ngbNavContent>
                <app-url-loader></app-url-loader>
              </ng-template>
            </li>
          </ul>
        </div>

        <div class="card-body">
          <div class="mb-3" [ngbNavOutlet]="tabs"></div>
        </div>
      </ng-container>

      <ng-template #result>
        <div class="card-body">
          <h5 class="card-title">
            <ng-container *ngIf="output">Result</ng-container>
            <ng-container *ngIf="error">Request failed</ng-container>
          </h5>
          <p class="card-text" *ngIf="error">
            The following error occurred when communicating with the backend:
          </p>
          <pre><code [highlight]="output != null ? output : error"></code></pre>
          <button class="btn" [class.btn-outline-light]="error" [class.btn-primary]="output" (click)="reset()">
            Reset
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</main>
